.agregar {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.agregar_contenedor {
    margin: 0 auto;
    text-align: center;
}

.agregar_tipo {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.agregar_descripcion,
.agregar_valor {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.agregar_descripcion { width: 400px;}
.agregar_valor { width: 100px;}

.agregar_btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.agregar_btn:active { transform: translateY(2px); }

.agregar_tipo:focus,
.agregar_descripcion:focus,
.agregar_valor:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.agregar_btn:focus { outline: none; }
