@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.header {
    height: 40vh;
    background-size: cover;
    width: 100%;
    color: #fff;
    background: url(../../../assets/fondo.png), #7b4397;
    background: url(../../../assets/fondo.png), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
    background: url(../../../assets/fondo.png), linear-gradient(to left, #7b4397, #dc2430);
    display: flex;
    align-items: center;
    justify-content: center;
    &__presupuesto {
        width: 350px;
        color: #fff;

    }
    &__presupuesto_titulo{
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 300;
    }
    
    &__presupuesto_valor {
        font-weight: 300;
        font-size: 46px;
        text-align: center;
        margin-bottom: 25px;
        letter-spacing: 2px;
    }
    

    &__presupuesto-content{
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    &__presupuesto_ingreso{
        width: 100%;
        max-width: 300px;
        padding: 12px;
        text-transform: uppercase;
        margin-bottom: 10px;
        background-color: #28B9B5;
        display: flex;
        justify-content: space-between;
        @include FromMin(375px) {
            width: 100%;
            max-width: 100%;
        }
    }
    
    &__presupuesto_egreso {
        width: 100%;
        max-width: 300px;
        padding: 12px;
        text-transform: uppercase;
        margin-bottom: 10px;
        background-color: #FF5049;
        display: flex;
        justify-content: space-between;
        @include FromMin(375px) {
            width: 100%;
            max-width: 100%;
        }
    }
    
    &__presupuesto_ingreso--texto{
        float: left;
        font-size: 13px;
        color: #fff;
        margin-top: 2px;
    }

    &__presupuesto_egreso--texto {
        float: left;
        font-size: 13px;
        color: #fff;
        margin-top: 2px;
    }
    
    &__presupuesto_ingreso--valor {
        letter-spacing: 1px;
        float: left;
    }

    &__presupuesto_egreso--valor {
        letter-spacing: 1px;
        float: left;
    }
    
    &__presupuesto_ingreso--porcentaje {
        float: left;
        width: 50px;
        font-size: 11px;
        padding: 3px 0;
        margin-left: 10px;
    }
    &__presupuesto_egreso--porcentaje {
        float: left;
        width: 50px;
        font-size: 11px;
        padding: 3px;
        margin-left: 10px;
        background-color: rgba(255, 255, 255, 0.2);
        text-align: center;
        border-radius: 3px;
    }
}
