@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.contenedor {
    width: 100%;
    margin: 20px auto  60px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    &__ingreso {
        float: left;
        width: 370px;
        max-width: 100%;
        .contenedor__elemento_eliminar, .contenedor__elemento_eliminar--btn{
            color: #28B9B5;
        }
    }
    &__egreso {
        float: left;
        width: 370px;
        max-width: 100%;
        .contenedor__elemento_eliminar, .contenedor__elemento_eliminar--btn {
            color: #FF5049;
        }
    }
    h2 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        margin: 35px 0px 10px;
        text-align: center;
        
        @include FromMin(375px) {
        }
    }
    &__derecha{
        display: flex;
        justify-content: flex-end;
    }
    &__ingreso_titulo {
        color: #28B9B5;
    }
    &__egreso_titulo {
        color: #FF5049;
    }
    &__elemento {
        height: 50px;
        padding: 13px;
        border-bottom: 1px solid #e7e7e7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:first-child {
            border-top: 1px solid #e7e7e7;
        }
        &:nth-child(even) {
            background-color: #f7f7f7;
        }

    }
    &__elemento_descripcion {
        float: left;
        width: 100%;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include FromMin($small) {
            width: 100%;
            max-width: 400px;
        }
    }
    &__elemento_valor {
        float: left;
        transition: transform 0.3s;
    }
    &__elemento_porcentaje {
        float: left;
        margin-left: 5px;
        transition: transform 0.3s;
        font-size: 11px;
        background-color: #FFDAD9;
        padding: 3px;
        border-radius: 3px;
        text-align: center;
        width: 45px;
    }
    &__elemento_eliminar {
        float: left;
        display: flex;
        align-items: center;
    }
    &__elemento_eliminar--btn {
        font-size: 22px;
        background: none;
        border: none;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        display: flex;
        &:focus {
            outline: none;
        }
        &:active {transform: translateY(2px);
        }
    }
}
